/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* STYLING */
.container {
  width: 80%;
  margin: 0 auto;
}
div {
  height: 100px;
}

// VARIABLES
$brown: #655;
// MIXINS
// 波点
@mixin polka ($size, $dot, $base, $accent) {
  background: $base;
  background-image:
      radial-gradient($accent $dot, transparent 0),
      radial-gradient($accent $dot, transparent 0);
  background-size: $size $size;
  background-position: 0 0, $size/2 $size/2;
}
// 棋盘
@mixin checkerboard ($size, $base, $accent: rgba(0,0,0, .5)) {
  background: $base;
  background-image:
      linear-gradient(45deg,
          $accent 25%, transparent 0,
          transparent 75%, $accent 0),
      linear-gradient(45deg,
          $accent 25%, transparent 0,
          transparent 75%, $accent 0);
  background-position: 0 0, $size $size;
  background-size: 2*$size, 2*$size;
}

.sewed-line {
  background: $brown;
  border: 10px dashed $brown;
  outline: 2px dashed white;
  outline-offset: -10px;

  /* Styling */
  height: 100px;
  color: white;
}
.extended-bg-position {
  padding: 10px;
  background: url('http://csssecrets.io/images/code-pirate.svg') no-repeat right bottom #58a;
  /*background-position: calc(100% - 20px) calc(100% - 10px);*/
  background-origin: content-box;
  /* Styling */
	max-width: 10em;
	min-height: 5em;
	color: white;
	font: 100%/1 sans-serif;
}
.gradient {
  background: #58a;
  background-image: repeating-linear-gradient(30deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1) 15px, transparent 0, transparent 30px);
}
.grids-with-percent {
  background: white;
  background-image: linear-gradient(90deg,
                      rgba(200, 0, 0, 0.5) 50%, transparent 0),
                    linear-gradient(
                      rgba(200, 0, 0, 0.5) 50%, transparent 0);
  background-size: 30px 30px;
}
.grids-with-px {
  background: #58a;
  background-image:
      linear-gradient(white 1px, transparent 0),
      linear-gradient(90deg, white 1px, transparent 0);
  background-size: 30px 30px;
}
.blueprint {
  background: #58a;
  background-image:
    linear-gradient(white 2px, transparent 0),
    linear-gradient(90deg, white 2px, transparent 0),
    linear-gradient(hsla(0, 0%, 100%, 0.3) 1px, transparent 0),
    linear-gradient(90deg, hsla(0, 0%, 100%, 0.3) 1px, transparent 0);
  background-size: 75px 75px, 75px 75px,
                   15px 15px, 15px 15px;
}
.polka {
  @include polka(30px, 30%, $brown, tan);
}
.checkerboard {
  @include checkerboard(15px, #eee);
}
