doctype
html
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="css/styles.css")
    title css-secrets
  body
    div.container
      div.sewed-line 缝线效果
      div.extended-bg-position Code Pirate
      div.gradient
      div.grids-with-percent
      div.grids-with-px
      div.blueprint
      div.polka
      div.checkerboard
      div.vintage-envelope
      div.marching-ants
      div.footnote This is a footnote.
      div.half-ellipse
      div.bevel-corners-gradients
      div.scoop-corners
